body {
  background-color: goldenrod;
}

.keyboard {
  padding-top: 1em;
}

.letter {
  display: inline-block;
  background-color: white;
  border: solid black 1px;
  width: 1em;
  height: 1em;
  text-align: center;
  margin: 1px;
}

.hidden {
  background-color: default;
  border: none;
}

.row-two {
  padding-left: .5em;
}

.row-three {
  padding-left: 1.5em;
}

.row-four {
  padding-left: 24px;
}

.letter.backspace {
  height: 22px;
  margin-bottom: -8px;
}

.letter.space {
  height: .8em;
  width: 136px;
}

.swapped {
  background-color: #ffcccc;
}

/* 
 * how to prevent text from being selected
 * https://stackoverflow.com/a/4407335/735468
 * */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Opera and Firefox */
}
