body {
  background-color: goldenrod;
}

#container {

}

#left {
  float: left;
  width: 350px;
}

#right {
  float: left;
}

.keyboard {
  padding-top: 1em;
}

.letter {
  display: inline-block;
  background-color: white;
  border: solid black 1px;
  width: 1em;
  height: 1em;
  text-align: center;
  margin: 1px;
}

.hidden {
  background-color: default;
  border: none;
}

.row-two {
  padding-left: .5em;
}

.row-three {
  padding-left: 1.5em;
}

.row-four {
  padding-left: 24px;
}

.letter.backspace {
  height: 22px;
  margin-bottom: -8px;
}

.letter.space {
  height: .8em;
  width: 136px;
}

.swapped {
  background-color: #ffcccc;
}
